@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Press+Start+2P&family=Sen&family=Source+Sans+Pro:wght@700&display=swap');

#line {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}

body {
    background-image: url("images/testbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

.Menu {
    width: 30%;
    height: 30em;
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20em;
}

.MenuButtons {
    /* conic-gradient(at -10% 50%, deeppink, cyan) */
    width: 70%;
    margin: 30px;

    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    text-shadow: 0 0 10px #ffebeb,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 80px #ff00de,
        0 0 80px #ff00de;

    font-size: 25px;
    /* rgb(0, 174, 255); */
    background: #2c2a3d;

    border-color: rgb(215, 141, 180);
    font-family: 'Press Start 2P', sans-serif;
    padding: 10px;
    box-shadow: 1px 3px 15px deeppink;
}

.MenuButtons:hover {
    /* rgba(0,255,255, 0.8); */
    background-color: rgba(73, 114, 123, 0.895);
    text-shadow: 0 0 10px deeppink;
}

.game-container {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.road {
    writing-mode: vertical-rl;
    /* vertical right-to-left */
    text-orientation: upright;
    /* keep letters upright */
    /* transform: rotate(160deg); */
    /* rotate to correct orientation */
    white-space: nowrap;
    /* prevent line breaks */
    position: absolute;
    width: 100px;
    height: 700px;
    background-color: #3b3a3a;
}

.road1 {
    left: 0;
}

.road2 {
    left: 100px;
}

.road3 {
    left: 200px;
}

.road4 {
    left: 300px;
}

.road5 {
    left: 400px;

}

.car {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 0;
    left: 0;

}

.car>img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -25px;
}

.car1 {
    left: 25px;
}


.car2 {
    left: 425px;
}

.car2>img {
    width: 50px;
    left: 0px;
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #023eb6;
    top: -50px;
}

.score {
    position: absolute;
    top: 20px;
    right: -100px;
    color: black;
    font-size: 20px;
}

div img {
    height: 25px;
    width: 30px;
}

p {
    padding: 20px 20px 0 0;
    color: white;
    width: 30px;
}

.border {

    position: absolute;
    height: 50px;
    width: 2px;
    ;
    background-color: red;
    border: 1px solid rebeccapurple;
}

.counter {
    position: absolute;
    left: 1em;
    top: 40%;
    font-size: 100px;
    color: red;
}

.barrier {
    position: absolute;
    left: 40px;
}

.GameOverMenu {
    width: 30%;
    height: 30em;
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 20em;
}

.Text {
    font-size: 60px;

    color: white;
    text-shadow: 0 0 10px #ffebeb,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #ff00de,
        0 0 70px #ff00de,
        0 0 80px #ff00de,
        0 0 80px #ff00de,
        0 0 80px #ff00de;
}

.OptionsMenu {
    width: 30%;
    height: 50em;
    margin-top: 5%;

}

.Options {
    margin-top: 50px;
    border: 1px solid #f7aee2;
    box-shadow: 0 0 5px #349BF8, 0 0 10px #F12564, 0 0 20px #3D3B9C, 0 0 40px #FCABE3;
    display: flex;

    align-items: center;
}

.OptionsText {
    font-size: 25px;
    color: #FDFFFE;
    text-shadow: 0 0 5px #F12564, 0 0 10px #F12564, 0 0 20px #F12564, 0 0 40px #F12564;
    border: 1px solid #F12564;
    padding: 5px;
    margin-left: 10px;
}


.neon-slider {

    -webkit-appearance: none;

    width: 60%;
    height: 10px;
    background-color: #ffffff;
    outline: none;
    transition: opacity 0.2s;
    border-radius: 10px;
    margin-right: 20px;
}

/* Style the range slider thumb */
.neon-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #F12564;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px #F12564, 0 0 10px #F12564, 0 0 20px #F12564, 0 0 40px #F12564;
    /* Multiple shadows for neon glow effect */
}

/* Style the range slider thumb on hover */
.neon-slider::-webkit-slider-thumb:hover {
    opacity: 1;
}

.neon-slider:disabled {
    background-color: rgb(192, 192, 192);

}

.neon-slider:disabled::-webkit-slider-thumb{
    width: 0px;
}

.Options>button{
    margin-left: 50%;
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 5px #F12564, 0 0 10px #F12564, 0 0 20px #F12564, 0 0 40px #F12564;

    border: 1px solid #F12564;
}

.Options>button:hover{
    background-color: #F12564;

}